* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Abril Fatface", cursive;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f5f1ee;
}

nav {
  display: flex;
  position: fixed;
  z-index: 10;
  right: 0;
  padding: 1rem 10vw;
  gap: 10px;
}
nav .aBox {
  width: 40vw;
  height: 2rem;
  background-color: #bdcab7;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}
nav .aBox a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
nav i {
  background-color: #bdcab7;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
}
main #s1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
}
main #s1 h1 {
  font-size: 24vw;
  font-family: "Lobster", cursive;
}
main #s1 #mainImgBox {
  position: relative;
  width: 100%;
}
main #s1 #mainImgBox #mainBg {
  position: relative;
  width: 100%;
  height: 60vh;
  border-radius: 8rem;
  background-size: cover;
  background-position: center;
  background-image: url("./img/pexels-riccardo-307006.jpg");
}
main #s1 #mainImgBox img {
  width: 26vw;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}
main #s1 #s1Desc {
  margin-top: 30px;
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  gap: 22vw;
}
main #s1 #s1Desc #s1-1 {
  width: 6rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main #s1 #s1Desc #s1-1 div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main #s1 #s1Desc #s1-1 div:nth-child(1) h2 {
  font-size: 1rem;
}
main #s1 #s1Desc #s1-1 div:nth-child(1) p {
  border-left: 2px solid black;
  padding-left: 1rem;
  font-size: 0.8rem;
}
main #s1 #s1Desc #s1-1 div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
main #s1 #s1Desc #s1-1 div:nth-child(2) span {
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  background-color: #d49440;
}
main #s1 #s1Desc #s1-2 {
  width: 6rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
main #s1 #s1Desc #s1-2 div {
  width: 60%;
  background-color: #bdcab7;
  border-radius: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
}
main #s1 #s1Desc #s1-2 div a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}
main #s1 #s1Desc #s1-2 div i {
  width: -moz-min-content;
  width: min-content;
  font-size: 1rem;
}
main #s1 #s1Desc #s1-2 i {
  color: #d49440;
  width: 100%;
  text-align: start;
  font-size: 6rem;
}
main #s2 {
  width: 96%;
}
main #s2 h2 {
  padding: 4rem 10vw;
  font-size: 1.6rem;
  text-align: center;
}
main #s2 #s2-imgbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
main #s2 #s2-imgbox img {
  width: 200px;
  aspect-ratio: 3/4;
  flex-grow: 1;
  border-radius: 2vmin;
  -o-object-fit: cover;
     object-fit: cover;
}
main #s2 #s2-imgbox #boxDesc {
  width: 200px;
  aspect-ratio: 3/4;
  background-color: #f54b3a;
  flex-grow: 1;
  border-radius: 50vmin;
  gap: 20px;
  padding: 10vmax 5%;
  display: flex;
  flex-direction: column;
}
main #s2 #s2-imgbox #boxDesc p {
  flex-grow: 1;
  font-size: 0.8rem;
}
main #s2 #s2-imgbox #boxDesc div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d49440;
  border-radius: 50vmin;
}
main #s2 #s2-imgbox #boxDesc div a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  text-align: center;
  flex-grow: 1;
}
main #s2 #s2-imgbox #boxDesc div i {
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}
main #s3 {
  width: 96%;
  padding: 4rem 0;
}
main #s3 header {
  padding: 0.8rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  border-bottom: 1px solid black;
}
main #s3 header .hLeft {
  display: flex;
  align-items: end;
  gap: 1rem;
}
main #s3 header .hLeft h2 {
  font-size: 1.6rem;
}
main #s3 header .hLeft a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}
main #s3 header .hRight {
  align-self: end;
  font-size: 1rem;
}
main #s3 #s3-1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}
main #s3 #s3-1 .left {
  padding: 1rem 0;
  width: 40%;
  min-height: 260px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main #s3 #s3-1 .left p {
  font-size: 0.8rem;
}
main #s3 #s3-1 .left img {
  width: 100px;
  height: 100px;
  padding-left: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
}
main #s3 #s3-1 .right {
  flex-grow: 1;
  width: 400px;
  padding: 1rem 0;
}
main #s3 #s3-1 .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main #s3 #s3-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
main #s3 #s3-2 #s3-2-1 {
  width: 400px;
  height: 200px;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}
main #s3 #s3-2 #s3-2-1 img {
  flex-shrink: 0;
  width: 25%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid black;
}
main #s3 #s3-2 #s3-2-2 {
  width: 400px;
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #s3 #s3-2 #s3-2-2 img {
  width: 100px;
  height: 100px;
}
main #s3 #s3-2 #s3-2-3 {
  width: 400px;
  flex-grow: 1;
}
main #s3 #s3-2 #s3-2-3 h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
main #s3 #s3-2 #s3-2-3 p {
  font-size: 0.8rem;
}
main #s3 #s3-2 #s3-2-4 {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 400px;
  height: 200px;
  flex-grow: 1;
  gap: 10px;
}
main #s3 #s3-2 #s3-2-4 a {
  display: flex;
  align-items: center;
  height: 2rem;
  text-decoration: none;
  color: black;
  padding: 1rem 3rem;
  background-color: #bdcab7;
  border-radius: 50vmin;
}
main #s3 #s3-2 #s3-2-4 div {
  display: flex;
  justify-content: end;
  height: 100px;
  flex-grow: 1;
}
main #s3 #s3-2 #s3-2-4 div img {
  width: 25%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid black;
}
main #s4 {
  width: 96%;
  padding: 3rem 0;
  position: relative;
}
main #s4 #s4-1 {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
main #s4 #s4-1 img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 40%;
}
main #s4 #s4-1 a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  background-color: #f5f1ee;
  border-radius: 50vmin;
  font-size: 0.8rem;
}
main #s4 #s4bg {
  width: 100%;
  height: 300px;
  border-radius: 50vmin;
  -o-object-fit: cover;
     object-fit: cover;
}
main #s5 {
  width: 96%;
  padding: 10vw 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
main #s5 #s5-1 {
  width: 270px;
  aspect-ratio: 3/4;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main #s5 #s5-1 img:nth-of-type(1) {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 33%;
  border-radius: 50vmin;
}
main #s5 #s5-1 img:nth-of-type(2) {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 66%;
}
main #s5 #s5-2 {
  width: 270px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
main #s5 #s5-2 #s5-2-1 {
  flex-grow: 1;
  position: relative;
}
main #s5 #s5-2 #s5-2-1 img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #d49440;
  transform: rotate(25deg);
}
main #s5 #s5-2 h2 {
  padding: 0 1rem;
  margin: 3rem 0;
  border-left: 2px solid #f54b3a;
}
main #s5 #s5-2 #s5-2-2 {
  position: relative;
  flex-grow: 1;
}
main #s5 #s5-2 #s5-2-2 img {
  position: absolute;
  right: 150px;
  background-color: #8a163b;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
main #s5 #s5-3 {
  width: 270px;
  flex-grow: 1;
}
main #s5 #s5-3 img {
  border: 1px solid black;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 50vmin;
}

@media (max-width: 960px) {
  nav .aBox {
    display: none;
  }
}
@media (max-width: 700px) {
  main #s1 #mainImgBox img {
    bottom: 30%;
  }
  main #s4 #s4-1 img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */